@import "../../styles/global.scss";
@import "../footer-info/footer-info.scss";
@import "../footer-nav/footer-nav.scss";
@import "../footer-newsletter/footer-newsletter.scss";


.footer-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	@include media-lg {
		display: grid;
		grid-template-columns: repeat(2, fit-content);
		grid-template-rows: 1fr 1fr;
		justify-content: space-between;
		gap: 40px;
	}
}