@import "../../styles/global.scss";
@import "../footer-info/footer-info.scss";
@import "../footer-nav/footer-nav.scss";
@import "../footer-newsletter/footer-newsletter.scss";


.footer-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	@include media-lg {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(6, 1fr);
		place-items: start center;
		gap: 70px 20px;
	}
}