extends ../../layouts/page/page
include ../../components/card-booking/card-booking
include ../../components/features/features

block variables 
	- var title = "room details";
	- var discription = "room details";
	- var background = false

block content
	- const { img } = require('./room-details.json')
	.room-details
		.room-details__grid-gallery
			each item in img
				- const { src, alt, main } = item
					img.room-details__img(class=main ? "room-details__img-main" : "", src=src, alt=alt)
		.room-details__content
			.room-details__grid-list 
				//- +features(features)
				.room-details__feedback 
				.room-details__reviews 
				.room-details__rules 
				.room-details__cancel 
			.room-details__booking
				//- +card-booking