@import "../../styles/global.scss";
@import "../../layouts/page/page.scss";
@import '../../components/features/features.scss';
@import '../../components/bullet-list/bullet-list.scss';
@import '../../components/chart/chart.scss';
@import '../../components/card-booking/card-booking.scss';
@import '../../components/review/review.scss';

.room-details {
	display: flex;
	flex-direction: column;
	
	&__grid-gallery {
		display: grid;
  	grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 0;
	}
	&__img {
		height: 100%;
		width: 100%;
    object-fit: cover;
	}
	&__img-main {
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}
	&__content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		gap: 70px;
		padding: 70px 140px;
		max-width: 1920px;
		margin: 0 auto;
		width: 100%;
	}
	&__grid-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
		gap: 30px 70px;
	}
	&__reviews {
		grid-column: 1 / span 2;
		max-width: fit-content;
		&-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		&-content {
			display: flex;
			flex-direction: column;
			gap: 22px;
		}
	}
	&__title {
		@include font-bold(19px, $dark-shade-100, 100%);
		margin-bottom: 20px;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	&__text {
		max-width: 341px;
	}
	&__rules {
		max-height: 100%;
	}
	&__chart {
		width: 311px;
		height: 126px;
	}
	&__booking {
		position: sticky;
		top: 100px;
	}
}