@import "../../styles/global.scss";
@import "../../layouts/page/page.scss";
@import '../../components/features/features.scss';
@import '../../components/bullet-list/bullet-list.scss';
@import '../../components/chart/chart.scss';
@import '../../components/card-booking/card-booking.scss';
@import '../../components/review/review.scss';

.room-details {
	display: flex;
	flex-direction: column;
	
	&__grid-gallery {
		width: 100%;
		display: grid;
  	grid-template-columns: 68% 32%;
		grid-template-rows: repeat(2, 1fr);
		align-items: start;
		justify-content: start;
	}	
	&__img {
		height: 100%;
		width: 100%;
    object-fit: cover;
		&:nth-child(1) {
			grid-column: 1;
			grid-row: 1 / span 2;
		}
		&:nth-child(2) {
			grid-column: 2;
			grid-row: 1;
		}
		&:nth-child(3) {
			grid-column: 2;
			grid-row: 2;
		}
	}

	&__content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		gap: 70px;
		padding: 70px 140px;
		max-width: 1920px;
		margin: 0 auto;
		width: 100%;
		@include media-xl {
			padding: 70px 60px;
		}
		@include media-lg {
			flex-direction: column-reverse;
			align-items: center;
		}
	}
	&__grid-list {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(3, auto);
		align-items: start;
		gap: 33px 90px;
		@include media-sm {
			display: flex;
			flex-direction: column;
		}
	}
	&__reviews {
		grid-column: 1 / span 2;
		max-width: fit-content;
		&-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
		}
		&-content {
			display: flex;
			flex-direction: column;
			gap: 22px;
		}
		&-count {
			padding-bottom: 20px;
			white-space: nowrap;
		}
	}
	&__title {
		@include font-bold(19px, $dark-shade-100, 24px);
		padding-bottom: 20px;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	&_cancel {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	&__text {
		max-width: 341px;
	}
	&__rules {
		max-height: 100%;
	}
	&__booking {
		position: sticky;
		top: 100px;
		@include media-lg {
			position: inherit;
		}
		&-card {
			@include media-lg {
				max-height: 0; 
				overflow: hidden;
				visibility: hidden;
				transition: all 0.3s ease;
			}
		}
		&-expanded {
			max-height: 1000px;
      visibility: visible;
		}
		&-toggle {
			display: none;
			@include media-lg {
				display: inline-flex;
				color: $dark-shade-50;
				min-width: 380px;
				min-height: 44px;
				border: 1px solid $dark-shade-25;
				border-radius: 4px;
				align-items: center;
				background: white;
				cursor: pointer;
				&:hover {
					color: $dark-shade-100;
					background: $dark-shade-10;
				}
				
			}
		}
		&-text {
			width: 100%;
			&::first-letter {
				text-transform: uppercase;
			}
		}
		&-icon {
			@include material-icon(24px, inherit);
			min-width: 44px;
			transition: all 0.3s ease;
			&-active {
				transform: rotate(180deg)
			}
		}
	}
}