@import "../../styles/global.scss";
@import "../logo/logo.scss";

.footer-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 260px;
	grid-row: 2;
	@include media-lg {
			gap: 10px;
		}
	.footer-info__text {
		color: $dark-shade-75;
		&::first-letter{
			text-transform: uppercase;
		}
	}
}