extends ../../layouts/landing/landing
include ../../components/card-search/card-search

block variables 
	- var title = "landing page";
	- var discription = "main Toxin page";

block content
	.landing-page
		
		+card-search