extends ../../layouts/page/page
include ../../components/card-search/card-search

block variables 
	- var title = "landing page";
	- var discription = "main Toxin page";
	- var background = 'landing_img'

block content
	.landing-page
		+card-search
		.landing-page__text лучшие номера для вашей работы, отдыха и просто вдохновения