mixin radio({radioInput})
	fieldset.radio
		each item in radioInput
			- const { name, text } = item
			label.radio__item
				input.radio__fake(type="radio" name= name)
				i.radio__real
				span.radio__text= text