@import "../../styles/global.scss";

.radio {
  display: flex;
  flex-direction: row;
	max-width: 260px;
	width: fit-content;
	gap: 20px;
	padding: 0px;
  line-height: 24px;

  &__title {
    @include font-bold($fs-minimum, $dark-shade-100);
    padding-bottom: 15px;
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__fake {
    appearance: none;

    &:checked+.radio__real::before {
      opacity: 1;
			transition: all 0.3s ease;
    }

    &:checked+.radio__real {
      border-color: $purple;
			transition: all 0.3s ease;
    }
		&:checked ~ .radio__text {
      color: $dark-shade-75;
			transition: all 0.3s ease;
    }
  }

  &__real {
    position: relative;
    flex: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid $dark-shade-25;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 12px;
      width: 12px;
      background: $purple-gradient;
      border-radius: 50%;
			transition: all 1 ease;
			opacity: 0;
    }
  }

  &__text {
    padding-left: 10px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}