mixin radio({title, radioInput})
	.radio
		if title
			.radio__title= title
		fieldset.radio__block
			each item in radioInput
				- const { name, text } = item
				lable.radio__item
					input.radio__fake(type="checkbox" name= name)
					span.radio__real
					span.radio__text= text