mixin radio({title, radio})
  form.radio
    fieldset.radio__fset
      if title
        .radio__title= title
      each item in radio
        - const { id, name, lable } = item
          input.radio__input(type="radio" id= id name= name)
          lable.radio__lable(for= id)= lable
