@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.radio {
	display: flex;
	flex-direction: column;
	gap: 14px;

	&__title {
		@include font-bold($h3, $dark-shade-100, 15px);
    text-transform: uppercase;
    padding-bottom: 3px;
	}

	&__wrap {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	&__label {
		display: flex;
		flex-direction: row;
	}


	&__custom {
		border: 1px solid $dark-shade-25;
		border-radius: 50%;
		height: 20px;
		width: 20px;
		position: relative;
		&:before {
			content: "";
			display: inline-block;
			border: 1px solid $purple;
			border-radius: 50%;
			height: 20px;
			width: 20px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			display: none;
		};
		&:after {
			content: "";
			display: inline-block;
			border-radius: 50%;
			height: 12px;
			width: 12px;
			background: $purple-gradient center no-repeat;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			display: none;
		};
	}

	&__real {
		appearance: none;
		-webkit-appearance: none;
    -moz-appearancee: none;
		&:checked + .radio__custom:before {
			display: inline-block;
		}
		&:checked + .radio__custom:after {
			display: inline-block;
		}
	}

	&__text {
		@include font-normal($body, $dark-shade-50, 18px);
    padding-left: 10px;
	}
}