mixin radio({title, radioInput})
  .radio
    if title
      .radio__title= title
    fieldset.radio__block
      each item in radioInput
        - const { id, name, lable } = item
        .radio__item
          input.radio__input(type="radio" id= id name= name)
          lable.radio__lable(for= id)= lable