@import "../../styles/global.scss";


.rate-button {
	display: flex;
	flex-direction: row;
	max-width: 120px;
	justify-content: space-between;
	&__fake {
		appearance: none;
		&:checked + .rate-button__real::before {
			content: "star"
		}
	}
	&__real {
		@include material-icon(24px, transparent, 100%);
		cursor: pointer;
		&::before {
			content: "star_border";
			background: $purple-gradient;
			background-clip: text;
			transition: all 0.3s ease;
		}
	}
}