@import "../../styles/global.scss";


.rate-button {
	display: flex;
	flex-direction: row;
	max-width: 120px;
	justify-content: space-between;
	
	&__fake {
		appearance: none;
		opacity: 0;
		
	}
	&__item {
		line-height: 0;
	}
	&__real {
		@include material-icon(24px, transparent, 100%);
		cursor: pointer;
		background: $purple-gradient;
		background-clip: text;
		transition: all 0.3s ease;
	}
}