@import "../../styles/global.scss";
@import "../date-field/date-field.scss";
@import "../dropdown/dropdown.scss";
@import "../button/button.scss";

.card-search {
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-shadow: $shadow-dark;
	padding: 40px 40px 30px;
	background-color: white;
	max-width: 380px;
	&__submit {
		margin-top: 10px;
	}
	&__title {
		@include font-bold(24px, $dark-shade-100);
		&::first-letter {
			text-transform: capitalize;
		}
	}
}