include ../date-field/date-field
include ../dropdown/dropdown

mixin card-search 
	.card-search
		.card-search__title найдём номера под ваши пожелания
		+date-field({firstTitle: "прибытие", secondTitle: "выезд"})
		+dropdown({
			title: "dropdown", 
			wide: true,	
			items: [
					{
						caption: "взрослые", 
						declensions: "гость, гостя, гостей"
					},
					{
						caption: "дети",
						declensions: "гость, гостя, гостей"
					},
					{
						caption: "младенцы",
						declensions: "ребёнок, детей, детей"
					}
				],
			buttons: [
					{
						text: "очистить",
						type: "button",
						theme: "no-bg",
						selector: "reset"
					},
					{
						text: "применить",
						type: "button",
						theme: "no-bg",
						selector: "submit"
					}
				]
			})
		.card-search__submit
			+button({
				theme: "filled", 
				text: "перейти к оплате", 
				type: "button", 
				long: "true", 
				icon: "true"}
			)

