@import "../../styles/global.scss";
@import "../field/field.scss";
@import "../button/button.scss";
@import "../toggle/toggle.scss";
@import "../radio/radio.scss";

.card-signup {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 380px;
	background-color: white;
	box-shadow: $shadow-dark;
	padding: 40px 30px 30px;
	line-height: 100%;
	&__title {
		@include font-bold(24px, $dark-shade-100)
	}
	&__form, &__person, &__auth-data, &__submit {
		display: flex;
		flex-direction: column;
	}
	&__form {
		gap: 20px;
	}
	&__person, &__auth-data {
		gap: 10px;
	}
	&__submit {
		gap: 30px;
	}
	&__signin {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__correct-text {
		line-height: 18px;
		font-size: $fs-normal;
		color: $dark-shade-100;
		&::first-letter {
			text-transform: uppercase;
		}
	}
}