include ../field/field
include ../button/button

mixin card-signin
	.card-signin
		.card-signin__title войти
		form.card-signin__form
			.card-signin__data
				+field({type: "email", placeholder: "email", name: "email"})
				+field({type: "password", placeholder: "пароль", name: "password"})
			+button({
					theme: "filled", 
					text: "войти", 
					href: "./sign-in.html", 
					long: "true", 
					icon: "true"
					}
				)
		.card-signin__signup 
			span.card-signin__correct-text нет аккаунта на Toxin?
			+button({
				border: "true",
				text: "создать",
				href: "./sign-up.html"
			})
