@import "../../styles/global.scss";

.like-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: fit-content;
	&__title {
		padding-bottom: 15px;
		@include font-bold($fs-minimum, $dark-shade-100);
		text-transform: uppercase;
	}
	&__label {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		min-height: 20px;
		min-width: 40px;
		border: 1px solid $dark-shade-25;
		border-radius: 10px;
		padding: 0 4px;
		&:has(> .like-button__fake:checked) {
			border-color: $purple;
		}
	}
	&__fake {
		appearance: none;
		&:checked + .like-button__real {
			color: $purple;
			-webkit-text-stroke: 1px $purple;
		}
		&:checked ~ .like-button__count {
			color: $purple;
			
		}
	}
	&__real {
		@include material-icon(10px, transparent, 85%);
		-webkit-text-stroke: 1px $dark-shade-25;
	}
	&__count {
		display: inline-block;
		text-align: center;
		font-size: 10px;
		min-width: 20px;
		line-height: 100%;
		color: $dark-shade-25;
	}
}