@import "../../styles/global.scss";

.like-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: fit-content;
	&__title {
		padding-bottom: 15px;
		@include font-bold($fs-minimum, $dark-shade-100);
		text-transform: uppercase;
	}
	&__label {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		min-height: 20px;
		min-width: 40px;
		border: 1px solid $dark-shade-25;
		border-radius: 10px;
		padding: 0 5px;

	}
	&__fake {
		appearance: none;
		&:checked + .like-button__real +.like-button__text {
			color: $purple;
		}
	}
	&__real {
		@include material-icon(10px, transparent, 85%);
		-webkit-text-stroke: 1px $dark-shade-25;
		vertical-align: middle;
		text-align: center;
	}
	&__count {
		display: inline-block;
		padding-left: 5px;
		font-size: 10px;
		line-height: 100%;
		vertical-align: middle;
		text-align: center;
		color: $dark-shade-25;
	}
}