mixin likeButton({title, name, count=0})
	.like-button
		if title
			.like-button__title= title
			label.like-button__label
				input.like-button__fake(type="checkbox" name= name)
				span.like-button__real favorite
				span.like-button__count= count