@import "../../styles/global.scss";

.like-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: fit-content;
	&__title {
		padding-bottom: 15px;
		@include font-bold($fs-minimum, $dark-shade-100);
		text-transform: uppercase;
	}
	&__label {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		min-height: 20px;
		min-width: 40px;
		border: 1px solid $dark-shade-25;
		border-radius: 10px;
		padding: 0 4px;
		user-select: none;
		cursor: pointer;
		&:has(> .like-button__fake:checked) {
      border-color: $purple;
		}
	}
	&__fake {
		appearance: none;
		&:checked + .like-button__real::before {
			content: "favorite";
			background: $purple-gradient;
			background-clip: text;
			transition: none;
			
		}
		&:checked ~ .like-button__count {
			color: $purple;
			transition: none;
		}
	}
	&__real {
		@include material-icon(10px, transparent, 85%);
		&::before {
			content: "favorite_border";
			background: $dark-shade-25;
			background-clip: text;
			transition: all 0.3s ease;
		}
	}
	&__count {
		display: inline-block;
		text-align: center;
		font-size: 10px;
		min-width: 20px;
		line-height: 100%;
		color: $dark-shade-25;
		transition: all 0.3s ease;
	}
}