extends ../../layouts/page/page
include ../../components/date-field/date-field
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/checkbox/checkbox
include ../../components/card-slider/card-slider


block variables 
	- var title = "search room";
	- var discription = "search room";
	- var background = false

block content
	- const { datepicker, dropdownGuests, rangeSlider, checkbox, checkboxRich, dropdownFurniture, checkboxExpand, sliders } = require("./search-room.json")
	.search-room.js-search-room
		button.search-room__sidebar-open.js-sidebar-open
				span.search-room__sidebar-icon
					img.searchroom__sidebar-img(src = 'assets/img/general/controls-adjust.svg'
					alt = 'filter icon'
					height = '12'
					width = '12')
				span.search-room__sidebar-text фильтры
		.search-room__sidebar.js-search-room__sidebar
			.search-room__sidebar-content.js-sidebar-content
				button.search-room__sidebar-close.js-sidebar-close
					span.search-room__sidebar-icon arrow_back
				.search-room__sidebar-item
					+date-field(datepicker)
					+dropdown(dropdownGuests)
				+rangeSlider(rangeSlider)
				+checkbox(checkbox)
				+checkbox(checkboxRich)
				+dropdown(dropdownFurniture)
				+checkbox(checkboxExpand)
				button.search-room__close--bottom.js-sidebar-close--bottom
					span.search-room__close-text скрыть
		.search-room__content
			.search-room__content-title номера, которые мы для вас подобрали
			.search-room__grid-sliders
				- for (let i = 0; i < 5; i++)
					each slider in sliders
						+card-slider(slider)
			.search-room__pagination