mixin footer-bottom({text, social })
	.footer-bottom
		.footer-bottom__credits= text 
		.footer-bottom__social
			each item in social
				- const {name, link} = item
					a(class= "footer-bottom__social_" + name
						href= link || "./index.html")