mixin rangeSlider({title})
	.range-slider
		.range-slider__header
			.range-slider__title= title 
			.range-slider__price 
		.range-slider__content
			input.range-slider__fill(type="range"
			value = "5000"
			min = "0"
			max = "15000"
			step = "100")
			input.range-slider__fill(type="range"
			value = "5000"
			min = "0"
			max = "15000"
			step = "100")

