extends ../../layouts/main/main
include ../../components/button/button
include ../../components/field/field
include ../../components/radio/radio
include ../../components/checkbox/checkbox
include ../../components/toggle/toggle
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button

block variables
	- var title = "Form elements";
	- var discription = "Form elements";
	- var logo = "logo-grey.svg";
	- var background = false;

block content
	- const { buttons, fields, radio, checkbox, toggle, likeButton, rateButton } = require("./form-elements.json")

		.form-el
			.form-el__container
				.form-el__column
					.form-el__section
						each field in fields
							+field(field)
				.form-el__column
					.form-el__section
						.form-el__title checkbox buttons
						+checkbox(checkbox)
					.form-el__section
						.form-el__title radio buttons
						+radio(radio)
					.form-el__section
						.form-el__title toggle 
						+toggle(toggle)
					.form-el__section
						.form-el__title like button
						+likeButton(likeButton)
					.form-el__section
						.form-el__title rate button
						+rateButton(rateButton)
				.form-el__column
					.form-el__section
						.form-el__title buttons
						.form-el__items
							each button in buttons
								+button(button)