extends ../../layouts/main/main
include ../../components/button/button
include ../../components/field/field
include ../../components/radio/radio
include ../../components/checkbox/checkbox
include ../../components/toggle/toggle
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/bullet-list/bullet-list
include ../../components/features/features
include ../../components/review/review

block variables
	- var title = "Form elements";
	- var discription = "Form elements";
	- var logo = "logo-grey.svg";
	- var background = false;

block content
	- const { buttons, fields, radio, checkbox, expandCheckbox, richCheckbox, toggle, likeButton, rateButton, bulletList, features, review } = require("./form-elements.json")

		.form-el
			.form-el__container
				.form-el__column
					.form-el__section
						each field in fields
							+field(field)
				.form-el__column
					.form-el__section
						+checkbox(checkbox)
					.form-el__section
						.form-el__title radio buttons
						+radio(radio)
					.form-el__section
						.form-el__title toggle 
						+toggle(toggle)
					.form-el__section
						.form-el__title like button
						+likeButton(likeButton)
					.form-el__section
						.form-el__title rate button
						+rateButton()
				.form-el__column
					.form-el__section
						.form-el__title buttons
						.form-el__items
							each button in buttons
								+button(button)
				.form-el__column
					.form-el__section
						+checkbox(expandCheckbox)
				.form-el__column
					.form-el__section
						+checkbox(richCheckbox)
				.form-el__column
					.form-el__section
						+bulletList(bulletList)
				.form-el__column
					.form-el__section
						+features(features)
				.form-el__column
					.form-el__section
						+review(review)