@import '../../components/button/button.scss';
@import '../../components/field/field.scss';
@import '../../components/radio/radio.scss';
@import '../../components/checkbox/checkbox.scss';
@import '../../components/toggle/toggle.scss';
@import '../../components/like-button/like-button.scss';
@import '../../components/rate-button/rate-button.scss';
@import '../../layouts/main/main.scss';

.form-el {
  padding: 30px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
  }

  &__column {
		display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 320px;
		
  }

	&__section {
		margin-bottom: 40px;
    display: flex;
		flex-direction: column;
  }


	&__title {
    @include font-bold($fs-minimum, $dark-shade-100);
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    &_title {
      @include font-bold($fs-minimum, $dark-shade-100, 100%);
      text-transform: uppercase;
    }
  }
}