extends ../../layouts/main/main
include ../../components/button/button
include ../../components/field/field
include ../../components/radio/radio
include ../../components/checkbox/checkbox
include ../../components/toggle/toggle
include ../../components/like-button/like-button

block variables
	- var title = "Form elements";
	- var discription = "Form elements";
	- var logo = "logo-grey.svg";
	- var background = false;

block content
	- const { buttons, fields, radio, checkbox, toggle, likeButton } = require("./form-elements.json")

		.form-el
			.form-el__container
				.form-el__column
					each field in fields
						+field(field)
				.form-el__column
					.form-el__sections
						.form-el__section
							.form-el__title checkbox buttons
							+checkbox(checkbox)
						.form-el__section
							.form-el__title radio buttons
							+radio(radio)
						.form-el__section
							.form-el__title toggle 
							+toggle(toggle)
						.form-el__section
							.form-el__title likeButton
							+likeButton(likeButton)
				.form-el__column
					.form-el__section
						.form-el__section_title buttons
						each button in buttons
							+button(button)