@import '~normalize.css';
@import "./variables.scss";
@import "./fonts.scss";

*,
::before,
::after {
  box-sizing: border-box;
	overflow-x: hidden;
}

html {
  @include font-normal($body);
  background-color: white;
}