@import '~normalize.css';
@import "./variables.scss";
@import "./fonts.scss";
@import "./mixins.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat-regular', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: $fs-normal;
  line-height: 24px;
  color: $dark-shade-100;
  background-color: white;
}