@import '~normalize.css';
@import "./variables.scss";
@import "./fonts.scss";
@import "./mixins.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  color: $dark-shade-100;
  background-color: white;
}

body {
	@include font-normal($fs-normal, $dark-shade-50, 24px);
}