@mixin media-xxl {
  @media (max-width: 1420px) {
    @content;
  }
}

@mixin font-face($font-name, $font-type, $fw, $fs: normal)  {
		@font-face {
			font-family: $font-name;
			src: url("@fonts/#{$font-type}.woff2") format("woff2");
			font-weight: $fw;
			font-style: $fs;
			font-display: swap;
		}
	}
	
	@mixin font-bold ($fs: $body,
  $cl: $dark-shade-100,
  $lh: 1.714,
  $fstl: normal,
  $fw: bold) {
  font-family: 'Montserrat-bold';
  font-size: $fs;
  line-height: $lh;
  color: $cl;
  font-style: $fstl;
  font-weight: $fw;
}

@mixin font-normal ($fs: $h3,
  $cl: $dark-shade-100,
  $lh: 1,
  $fstl: normal,
  $fw: normal) {
  font-family: 'Montserrat-normal';
  font-size: $fs;
  line-height: $lh;
  color: $cl;
  font-style: $fstl;
  font-weight: $fw;
}