@mixin media-xl {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin media-lg {
  @media (max-width: 1230px) {
    @content;
  }
}

@mixin media-md {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin media-sm{
  @media (max-width: 768px) {
    @content;
  }
}

@mixin media-xs {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin media-xxs {
  @media (max-width: 362px) {
    @content;
  }
}

@mixin font-face($font-name, $path, $fw: normal, $fs: normal)  {
	@font-face {
		font-family: $font-name;
    src: 
			url('@fonts/#{$path}.ttf') format('truetype'),
			url('@fonts/#{$path}.woff') format('woff'),
			url('@fonts/#{$path}.woff2') format('woff2'),
			url('@fonts/#{$path}.svg##{$path}') format('svg');
		font-weight: $fw;
		font-style: $fs;
		font-display: swap;
	}
}
	
@mixin font-bold ($fs: $fs-normal,
  $cl: $dark-shade-100,
  $lh: normal,
  $fstl: normal,
  $fw: bold) {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: $fs;
  line-height: $lh;
  color: $cl;
  font-style: $fstl;
  font-weight: $fw;
}

@mixin font-normal ($fs: $h3,
  $cl: $dark-shade-100,
  $lh: normal,
  $fstl: normal,
  $fw: normal) {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: $fs;
  line-height: $lh;
  color: $cl;
  font-style: $fstl;
  font-weight: $fw;
}

@mixin material-icon ($fs: normal,
  $fc: white,
  $lh: normal,
  $fw: normal,
	$fstl: normal,
) {
  display: inline-block;
  font-family: 'Material-icons','Arial', sans-serif;
  speak: never;
  color: $fc;
	font-style: $fstl;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

@mixin awesome-icon ($icon: $twit,
  $fc: white,
  $fs: normal,
  $fw: normal,
  $fv: normal,
  $lh: 1) {
  display: inline-block;
  font-family: 'Font-awesome', 'Arial', sans-serif;
  speak: never;
  font-style: $fs;
  color: $fc;
  font-size: $fs;
  font-weight: $fw;
  font-variant: $fv;
  line-height: $lh;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    content: $icon;
  }
}