@import "../../styles/global.scss";
@import "../field/field.scss";

.footer-newsletter {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	max-width: 260px;
	gap: 20px;
	grid-row: 2;
	@include media-lg {
		margin-top: 15px;
	}

	&__title {
		@include font-bold($fs-minimum, $dark-shade-100);
		text-transform: uppercase;
		white-space: nowrap;
	}
	&__text {
		color: $dark-shade-75;
		&::first-letter {
			text-transform: uppercase;
		}
	}
}