@import "../../styles/global.scss";
@import "../../layouts/page/page.scss";
@import "../../components/card-signup/card-signup.scss";


.sign-up {
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	min-height: 580px;
}