@import "../../styles/global.scss";
@import "../../layouts/page/page.scss";
@import "../../components/card-signup/card-signup.scss";


.sign-up {
	padding: 20px 0;
	display: flex;
	align-items: center;
	margin: 0 auto;
	min-height: 580px;
}