extends ../../layouts/main/main
include ../../components/index/index


block variables
	- var title = "navigation page";
	- var discription = "nav page";
	- var logo = "logo-grey.svg";
	- var background = true;

block content
	- const { index } = require("./index.json")
	+index(index)