@import "../../styles/global.scss";
@import "../button/button.scss";
@import '~air-datepicker/air-datepicker.css';


.calendar {
  display: flex;
  width: fit-content;
  .air-datepicker.-inline- {
    position: relative;
  }
}