mixin calendar
	.calendar.js-calendar
		.calendar__date-picker.js-calendar__date-picker 
		//- if buttons
		//- 	.calendar__actions.js-calendar__actions
		//- 		each button in buttons
		//- 			+button(button)