@import "../../styles/global.scss";
@import '~air-datepicker/air-datepicker.css';

.calendar {
	width: fit-content;
	height: fit-content;
	.air-datepicker {
		display: flex;
		flex-direction: column;
		min-width: 320px;
		min-height: 329px;
		&--content {
			flex-grow: 1;
		};
		&-body{
			&--cells {
			}
		}
	}
}

/* ==========================================================================
   Переопределение стилей Air Datepicker (стили плагина)
   ========================================================================== */

