include ../field/field
include ../toggle/toggle
include ../button/button

mixin card-booking
	.card-signup
		.card-signup__title Регистрация аккаунта
		form.card-signup__form
			.card-signup__person
				+field({})
				+field({})
				+radio({})
			.card-signup__birthday
				+field({})
			.card-signup__auth-data
				+field({})
				+field({})
			.card-signup__offers
				+toggle({}) 
		.card-signup__submit
			+button({})
			.card-signup__signin 
				span.card-signup__correct-text 
				+button({})
