@import "../../styles/global.scss";

.footer-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	line-height: normal;
	min-width: 160px;
	margin-top: 5px;
	@include media-lg {
			grid-row: 1;
			grid-column: span 2;
		}
	&__title {
		@include font-bold($fs-minimum, $dark-shade-100);
		text-transform: uppercase;
		white-space: nowrap;
		padding-bottom: 21px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		white-space: nowrap;
		gap: 20px;
 		padding: 0;
		margin: 0;
 	 	list-style: none
	}
	&__item {
		
		&::first-letter {
			text-transform: uppercase;
		}
	}
	&__link {
		color: $dark-shade-50;
		text-decoration: none;
		&:hover {
			color: $dark-shade-100;
		}
	}
	&__hidden-lg {
		@include media-lg {
			// display: none;
		}
	}
}