@import "../../styles/global.scss";
@import '../../components/nav/nav.scss';
@import '../../components/logo/logo.scss';

.header {
  padding: 0 30px;
  background-color: white;
  min-width: 100%;
  box-shadow: $shadow-light;
	@include media-lg {
    padding: 0;
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 110px;

    @include media-xl {
      padding: 0 30px;
    }
  }
}