@import "../../styles/global.scss";
@import '../../components/nav/nav.scss';
@import '../../components/logo/logo.scss';

.header {
	padding: 0 140px;
	background-color: white;
	min-width: 100%;
	box-shadow: 0 0 2px $dark-shade-50;
	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		max-width: 1440px;
	}
}