mixin header({code , name , opacity = 1})
    header.header
      .header_container
        .header_logo
        nav.header_menu
					ul.header_list
						li.header_item
							a(href="").header_link=