mixin checkbox({title, checkboxInput})
	.checkbox
		if title
			.checkbox__title= title
		fieldset.checkbox__block
			each item in checkboxInput
				- const { id, name, lable } = item
				.checkbox__item
					input.checkbox__input(type="checkbox" id= id name= name)
					lable.checkbox__lable(for= id)= lable