@import "../../styles/variables.scss";
@import "../checkbox-button/checkbox-button.scss";
@import "../checkbox-toggle/checkbox-toggle.scss";

.checkbox {
	display: flex;
	flex-direction: column;
	gap: 14px;
	min-width: 260px;
	&__title {
		@include font-bold($h3, $dark-shade-100, 15px);
		text-transform: uppercase;
	}
}