mixin checkbox({title, checkboxInput})
	.checkbox
		if title
			.checkbox__title= title
		fieldset.checkbox__block
			each item in checkboxInput
				- const { name, text } = item
				lable.checkbox__lable= text
					input.checkbox__input(type="checkbox" name= name)