@import "../../styles/variables.scss";
@import "../checkbox-button/checkbox-button.scss";

.checkbox {
	display: flex;
	flex-direction: column;
	gap: 14px;
	max-width: 222px;
	&__title {
		@include font-bold($h3, $dark-shade-100, 15px);
		text-transform: uppercase;
	}

	&__label {
		display: flex;
		flex-direction: row; 
	}
}