@import "../../styles/global.scss";

.checkbox {
  max-width: 222px;
  line-height: 18px;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  &__title {
    @include font-bold($fs-minimum, $dark-shade-100);
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__input {
    appearance: none;

    &:checked {}
  }

  &__item {
    display: flex;

  }

  &__lable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: $dark-shade-50;
    cursor: pointer;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}