mixin checkbox({checkboxInput})
	fieldset.checkbox
		each item in checkboxInput
			- const { name, text } = item
			label.checkbox__item
				input.checkbox__fake(type="checkbox" name= name)
				i.checkbox__real
				span.checkbox__text= text