@import '../../components/types/types.scss';
@import '../../components/colors/colors.scss';
@import '../../layouts/main/main.scss';
@import '../../styles/global.scss';
@import '../../styles/mixins.scss';

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
	margin: 55px 0 0;

  &__colors {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__types {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 436px;
  }
}