@import '../../layouts/main/main.scss';
@import '../../styles/global.scss';
@import '../../styles/mixins.scss';
@import '../../components/field/field.scss';

.components {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 100px;
  width: 100%;

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}