extends ../../layouts/main/main
include ../../components/button/button

block variables
	- var title = "Form elements";
	- var discription = "Form elements";
	- var logo = "logo-grey.svg";
	- var background = true;

block content
	- const { buttons } = require("./form_elements.json")

	.container
		.container__column
			each button in buttons
				+button(button)