extends ../../layouts/main/main
include ../../components/field/field
include ../../components/checkbox/checkbox
include ../../components/radio/radio

block variables
	- var title = "Form elements";
	- var discription = "website components";
	- var logo = "logo-grey.svg";
	- var background = false;

block content
	- const { fields, checkboxes, radios } = require('./form_elements.json')
	.components
		.components__column
			each field in fields
				+field(field)
		.components__column
			each checkbox in checkboxes
				+checkbox(checkbox)
		.components__column
			each radio in radios
				+radio(radio)