mixin toggle({title, name, text})
	.toggle
		if title
			.toggle__title= title
			label.toggle__label
				input.toggle__fake(type="checkbox" name= name)
				span.toggle__real
				span.toggle__text= text