@import "../../styles/global.scss";
@import "../../components/header/header.scss";
@import "../../components/footer/footer.scss";


.page {
	background-color: white;
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
	&__main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 30px;
	}
	&__container {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		padding: 0 110px;
		@include media-xxl {
      padding: 0 30px;
    }
	}
}