@import "../../styles/global.scss";
@import "../../components/header/header.scss";
@import "../../components/footer/footer.scss";


.page {
	background-color: white;
	background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
	&__main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
	}
	&__container {
		margin: 0 auto;
		@include media-xl {
      padding: 0 30px;
    }
	}
}