include ../../components/header/header
include ../../components/footer/footer

- const { header , footer } = require('@/layouts/page/page.json')

block variables

doctype html 
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="discription", content=discription)
		title #{title}
	body.page(style=`background-image: url("/assets/img/background/${background}.jpg")`)
		+header(header)
		main.page__main
			.page__container
				block content
		+footer(footer)