extends ../../layouts/main/main
include ../../components/card-search/card-search
include ../../components/card-booking/card-booking
include ../../components/card-signup/card-signup
include ../../components/card-signin/card-signin
include ../../components/card-slider/card-slider
include ../../components/calendar/calendar


block variables 
	- var title = "cards";
	- var discription = "cards content";
	- var logo = "logo-grey.svg";
	- var background = true;

block content
	.cards
		.cards__block
			+card-search
			+card-signup
		.cards__block 
			+card-booking
			+card-signin
		.cards__block
			+calendar
			+card-slider