@import "../../styles/global.scss";

.index {
	display: flex;
	justify-content: center;
	margin-top: 40px;

	&__nav {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background-color: rgb(217, 181, 150, 30%);
		padding: 20px 50px;
		gap: 30px;
		box-shadow: 0 0 10px $dark-shade-50;
	}

	&__link {
		@include font-normal($fs-medium, $dark-shade-75, 100%);
		text-decoration: none;
		&::first-letter {
			text-transform: uppercase;
		}
		&:hover {
			color: $dark-shade-100;
		}
	}
}