include ../calendar/calendar
include ../button/button

mixin date-field
	.date-field.js-date-field
		label.date-field__label
			input.date-field__input(type="text" placeholder = "ДД ММ - ДД ММ").js-date-field__input
			span.date-field__arrow