@import "../../styles/global.scss";
@import "../button/button.scss";

.nav {
	
	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 20px;
	}
	&__item {
		position: relative;
    display: flex;
    align-items: center;
		&_active {
			@include font-bold($fs-normal, $dark-shade-100);
		}
	}
	&__link {
		color: $dark-shade-100;
		text-decoration: none;
		&::first-letter {
			text-transform: uppercase;
		}
		&:hover {
      border-bottom: 1px solid $dark-shade-50;
    }
	}
	&__icon {
		@include material-icon(24px, inherit);
    cursor: pointer;
	}
}