@import "../../styles/global.scss";
@import "../button/button.scss";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav {
	
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		white-space: nowrap;
		gap: 20px;
		@include media-md {
			display: none;
		}
		&-active {
			@include media-md {
				display: flex;
				position: fixed;
				flex-direction: column;
				align-items: flex-end;
				justify-content: flex-start;
				top: 0;
				right: 0;
				box-shadow: $shadow-light;
				padding: 30px;
				background-color: white;
				z-index: 500;
				width: 40vw;
			}
			@include media-xs {
				width: 100vw;
				align-items: center;
				height: 100vh;
				overflow-y: auto;
			}
		}	
	}
	&__item-close {
		display: none;
		@include media-md {
			display: flex;
		}
		@include media-xs {
			align-self: flex-end;
		}
	}
	&__close {	
		background: none;
		border: none;
		cursor: pointer;	
		&-icon {
			@include material-icon(24px, $dark-shade-75)
		}
		&-spin {
			animation-name: spin;
			transform-origin: center;
			animation-duration: 1s;
		}
	}
	&__item {
		position: relative;
    display: flex;
		align-items: center;
		
		&:hover ul {
			top: 100%;
			padding: 10px 0;
			transform: scaleY(1);
    }
	}
	&__link {
		color: $dark-shade-50;
		text-decoration: none;
		line-height: 18px;
		
		
		&_active {
			@include font-bold($fs-normal, $dark-shade-75);
		}
		&::first-letter {
			text-transform: uppercase;
		}
		&:hover {
      color: $dark-shade-100;
    }
	}
	&__sub {
		position: absolute;
		display: block;
		list-style-type: none;
		text-align: center;
		max-width: 260px;
		outline: none;
		margin-top: 10px;
		background: white;
    top: 0;
		white-space: normal;
    right: 0;
		border: 1px solid $dark-shade-10;
    border-radius: 4px;
		transition: all 0.3s ease-in-out;
		transform-origin: top;
		transform: scaleY(0);
		z-index: 501;
		&-item {
			cursor: pointer;
			&::first-letter{
					text-transform: uppercase;
			}		
		}
		&-link{
			padding: 0 10px;
			color: $dark-shade-50;
			text-decoration: none;
			
			&:hover {
				color: $dark-shade-100;
			}
		}
	}
	&__icon {
		@include material-icon(24px, inherit);
    cursor: pointer;
	}
	&__acc {
		display: flex;
		padding-left: 20px;
		border-left: 1px solid $dark-shade-10;
		@include media-md {
			border-left: 0;
			padding-left: 0;
			padding-right: 20px;
			border-right: 1px solid $dark-shade-10;
		}
	}
	&__burger {
		display: none;
		@include media-md {
			display: flex;
			background: none;
			border: none;
			text-decoration: none;
			cursor: pointer;
		}
		&-icon {
			@include material-icon(24px, $dark-shade-75)
		}
	}
}