@import "../../styles/global.scss";

.nav {
	&__list {
		@include font-normal($fs-normal, $dark-shade-50);
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		gap: 20px;
	&__item{
		&-active {
			@include font-bold($fs-normal, $dark-shade-100)
		}
	}
	& a {
		text-decoration: none;
	}
	& li {
		list-style: none;
		&::first-letter {
			text-transform: uppercase;
		};
		}
	}
	&__link {
		@include font-normal($fs-normal, $dark-shade-50, 18px);
	}
}